.home-page {
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;  /* 100% of the viewport width */
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }